* {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

h2,
.topic {
    text-align: center;
}

li {
    color: white;
    font-weight: 600;
    margin: 5px;
    text-align: left;
    list-style-type: square
}

ul {
    text-align: left;
    margin-left: 0;
}

.week-title {
    color: #1683b6
}

a {
    color: #1683b6;
}